/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
//    color: $brand-color;
    color: $grey-color-dark;
    text-decoration: none;

    &:visited {
        //color: darken($brand-color, 15%);
        color: $grey-color;
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    //color: $grey-color;
    color: $grey-color-dark;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 14px;
    //border: 1px solid $grey-color-light;
    //border-radius: 3px;
    word-wrap: break-word;//添加於2016-12-19
    overflow: hidden;
    white-space: pre-wrap;//自動換行
    color:#000000;
    //background-color: #fdf6e3;//#a3edcd//#eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
* Add border to tables 2016-11-18
*/

.mbtablestyle{
    border-collapse: collapse;

    >table, td, th {
        border: 1px solid black;
    }
}

/**
* Add table format
*/
table{
    width:100%;//表格寬度
    max-width: 65em;//表格最大寬度，避免表格過寬
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #000000;
}

th{
    font-weight: bold;//加粗字體
    text-align: center !important;//內容居中，加上!important避免被Markdown樣式覆蓋
    background: rgba(158,188,266,0.8);//背景色
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
}

/**
** Add on 2016-12-10
*/

tbody tr:nth-child(2n) {//隔行變色
    background: rgba(163,237,205,0.8); 
}

//tr:hover{//鼠標懸浮變色
//    background: #efefef;
//}
